body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

th {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

.highlight {
  background-color: rgb(187, 228, 190);
  font-weight: bold;
}

dialog {
  background-color: rgba(241, 241, 200, 0.935);
  border-radius: 1rem;
  color: rgb(31, 19, 19);
}

dialog > div:first-child {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

dialog > div:first-child button {
  background: none;
  border: none;
  border-radius: 0.3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div:nth-of-type(3) {
  padding: 5px;
}
